CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.a
*.ci
*.bin_timestamp
*.bin
*.map
*.ninja*
build/
.devcontainer/
.vscode
.DS_Store

*/managed_components/*
sdkconfig
*/dependencies.lock
